.wrapper {

}

.menuWrapper {
    display: block;
    position: relative;
    width: 100%
}

.formWrapper {
    background-color: turquoise;
    display: block;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
}

.error {
  color: red;
  text-align: center;
}