.navWrapper {
  float: right;
  margin-top: 1.5rem;
  display: flex;
}

.navbarItems {
  margin-right: 1rem;
}

.navButton {
  cursor: pointer;
  color: #337ab7;
}

:global(.navbar-default) {
  :global(.container) {
    width: 100%;
  }
}

:global(a) {
  color: gray;
}